.is-transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}

.brand-font {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 400;
}

.navbar-color {
  color: var(--brand-color-pink);
  font-family: 'Dosis', sans-serif;
}

.navbar-color:hover {
  color: var(--brand-color-pink-lighten-20) !important;
  background: radial-gradient(70px 10px at center 78%,
  rgba(255, 255, 255, 0.55) 1%,
  rgba(0, 0, 0, 0) 40%) !important;
}

.navbar-menu-position {
  position: fixed;
  right: 1.0875rem;
  top: 0.5rem;
  z-index: 4;
}

.navbar-padding {
  padding: 1rem;
}

.margin-left-05rem {
  margin-left: 0.5rem;
}

.padding-top-1rem {
  padding-top: 1rem;
}

.up-arrow {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
}

.light {
  color: rgba(255, 255, 255, 0.5);
  animation: bounce 6s infinite ease-in-out;
}

.light:hover {
  color: rgba(255, 255, 255, 0.8);
}

@keyframes bounce {
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 768px) {
  .navbar-menu-position {
    position: static;
  }
}
