$brand-color-pink: #d99e8e;
$text: #dddddd;

.about-section {
  color: $text;
}

h1.branded-title {
  color: $brand-color-pink;
}

.personal-photo {
  box-shadow: 0 15px 15px -6px rgba(0, 0, 0, 1);
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.highlight, .highlight-less {
  padding: 0.15rem 0.35rem;
  border-radius: 0.1rem;
  text-shadow: 1px 1px 0 rgba(40, 40, 40, 1);
}

.highlight {
  background-color: rgba($brand-color-pink, 0.9);
}

.highlight-less {
  background-color: rgba($brand-color-pink, 0.7);
}

.tools {
  color: lighten($brand-color-pink, 10%);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}
