@charset "utf-8";

$brand-color-pink: #d99e8e;
$text: #dddddd;

.footer-section {
  margin-top: 10rem;
  padding-bottom: 1.5rem;
}

.footer-hr {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
}

.heart {
  color: darken($brand-color-pink, 10);
}