$brand-color-pink: #d99e8e;

.is-transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}

.brand-font {
  font-size: 2rem;
  font-weight: 400;
}

.navbar.is-black .navbar-end > a.navbar-item {
  color: $brand-color-pink;
}

.navbar.is-black .navbar-end > a.navbar-item:hover {
  color: lighten($brand-color-pink, 20%);
  background: radial-gradient(70px 10px at center 78%,
  rgba(255, 255, 255, 0.55) 1%,
  rgba(0, 0, 0, 0) 40%);
}

.navbar-menu {
  position: fixed;
  right: 1.0875rem;
  top: 0.5rem;
  z-index: 4;

  &.is-hidden {
    opacity: 0;
    transform: translate(0, -60px);
    transition: transform .2s,background .3s,color .3s,opacity 0 .3s;
  }
  
  &.is-visible {
    opacity: 1;
    transform: translate(0, 0);
    transition: transform .2s,background .3s,color .3s;
  }
}

.navbar-item, .navbar-link {
  padding: 1rem;
}

@media (max-width: 768px) {
  .navbar-menu {
    position: static;
  }
}