$brand-color-pink: #d99e8e;
$loader-ring-size: 240px;
$loader-ring-border-size: 4px;

.relative {
  position: relative;
}

.loader-ring {
  visibility: visible;
  position: absolute;
  top: calc(50% - 120px);
  left: calc(50% - 120px);
  margin: calc($loader-ring-size / -2) 0 0 calc($loader-ring-size / -2);
  width: $loader-ring-size;
  height: $loader-ring-size;
}

.loader-ring-light {
  width: $loader-ring-size;
  height: $loader-ring-size;
  border-radius: $loader-ring-size;
  box-shadow: 0 $loader-ring-border-size 0 $brand-color-pink inset;
  animation: rotate360 2s linear infinite;
}


.loader-ring-track {
  position: absolute;
  top: 0;
  left: 0;
  width: $loader-ring-size;
  height: $loader-ring-size;
  border-radius: $loader-ring-size;
  box-shadow: 0 0 10px $loader-ring-border-size rgba(0, 0, 0, 0.3) inset;
}

@keyframes rotate360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
